argocd:
  server:
    ingress:
      enabled: true
      controller: generic
      annotations:
        cert-manager.io/cluster-issuer: jansen-ca-issuer
      ingressClassName: "traefik"
      hostname: "argocd.jansen.lan"
      path: /
      pathType: Prefix
      tls: true