argocd:
  configs:
    params:
      server.insecure: true
    cm:
      # NOTE: You may want to modify this behavior to bootstrap your cluster in waves; see v1.8 upgrade notes
      # https://argo-cd.readthedocs.io/en/stable/operator-manual/cluster-bootstrapping/
      resource.customizations: |
        argoproj.io/Application:
          health.lua: |
            hs = {}
            hs.status = "Progressing"
            hs.message = ""
            if obj.status ~= nil then
              if obj.status.health ~= nil then
                hs.status = obj.status.health.status
                if obj.status.health.message ~= nil then
                  hs.message = obj.status.health.message
                end
              end
            end
            return hs